!.gitkeep
# Binaries for programs and plugins
*.exe
*.exe~ 
*.dll
*.so
*.dylib
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# Dependency directories (remove the comment below to include it)
vendor/
# Go workspace file
go.work
configs/*
log/
build/
conf/
*exe
*.log
.idea/
.DS_Store
sync_test.sh
.vscode/
.history/
scripts/upload_media.sh
scripts/upload.sh
localtest/
.codecc
.idea
.vscode
pkg/core/staticembed/01_monitor.sql
pkg/core/staticembed/02_backup.sql
pkg/core/staticembed/03_auto_switch.sql
pkg/core/staticembed/04_sqlsetting.sql

