# Rope project settings
.ropeproject
.DS_Store
.idea
.codecc
.gtm.yaml

pre-*-bkcodeai
.vscode
.python-version

bkcodeai.json
package-lock.json
*.swp
### PreCI ###
.codecc
# CodeBuddy
.codebuddyignore
.codebuddy/
# Cursor
.cursorignore
.cursorrules
.cursor/
# Claude
.claude/