go 1.19

use (
	riak/db-tools/dbactuator
	bigdata/db-tools/dbactuator
	common/db-config
	common/db-resource
	common/dbha/ha-module
	common/dbha/hadb-api
	common/go-pubpkg
	mysql/db-partition
	mysql/db-priv
	mysql/db-remote-service
	mysql/db-simulation
	mysql/db-tools/dbactuator
	mysql/db-tools/mysql-crond
	mysql/db-tools/mysql-dbbackup
	mysql/db-tools/mysql-monitor
	mysql/db-tools/mysql-rotatebinlog
	mysql/db-tools/mysql-table-checksum
	mysql/slow-query-parser-service
	redis/db-tools/dbactuator
	redis/db-tools/dbmon
	redis/redis-dts
)
