{
  "plugins": [
    "prettier-plugin-curly"
  ],
  "semi": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSameLine": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true,
  "proseWrap": "always",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue",
      }
    }
  ]
}
