{
  "plugins": ["prettier-plugin-curly"],
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSameLine": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true,
  "proseWrap": "always"
}
