[flake8]
ignore = W503,E203,W605,C901,F403,F405,F401
exclude =
    *migrations*,
    *.pyc,
    .git,
    __pycache__,
    node_modules/*,
    */templates_module*,
    */bin/*,
    */settings/*,
    scripts/*,
    backend/packages/*,
max-line-length=129
max-complexity=12
format=pylint
show_source = True
statistics = True
count = True