.idea
.vscode
logs/*
bin/mongo-dbactuator
scripts/upload_media.sh
.codecc
gonote
goimports
.agent.properties
agent.zip
codecc/
devopsAgent
devopsDaemon
install.sh
jre.zip
jre/
latest_version.txt
preci
preci.log
preci.pid
preci_server.jar
runtime/
start.sh
stop.sh
telegraf.conf
tmp/
uninstall.sh
worker-agent.jar
preci.port
build.yml
tests/dbactuator-test
