apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "bk-dbha.fullname" . }}
  labels:
    {{- include "bk-dbha.labels" . | nindent 4 }}
data:
  config.yaml: |-
    agent_conf:
      active_db_type: [
        "tendbha:backend",
        "tendbha:proxy",
      ]
      city: "3"
      campus: "深圳"
      fetch_interval: 60
      reporter_interval: 120
    gm_conf:
      city: "4"
      campus: "上海"
      liston_port: 50000
      GDM:
        dup_expire: 600
        scan_interval: 1
      GMM:
      GQA:
        idc_cache_expire: 300
        single_switch_idc: 50
        single_switch_interval: 86400
        single_switch_limit:  48
        all_host_switch_limit:  150
        all_switch_interval:  7200
      GCM:
        allowed_checksum_max_offset: 2
        allowed_slave_delay_max: 600
        allowed_time_delay_max: 300
        exec_slow_kbytes: 0
    db_conf:
      hadb:
        host: "hadb-api-host"
        port: 8080
        timeout: 30
        bk_conf:
          bk_app_code: "xxxx"
          bk_app_secret: "xxxx"
      cmdb:
        host: "cmdb-api-host"
        port: 80
        timeout: 10
        bk_conf:
          bk_app_code: "xxxx"
          bk_app_secret: "xxxx"
      mysql: 
        user: "mysql-conn-user"
        pass: "mysql-conn-pass"
        proxy_user: "proxy-conn-user"
        proxy_pass: "proxy-conn-pass"
        timeout: 10
      redis:
    dns:
      bind_conf:
        host: "bind-api-host"
        port: 80
        user: "xxxx"
        pass: "xxxx"
        timeout: 10
        bk_conf:
          bk_app_code: "xxxx"
          bk_app_secret: "xxxx"
      polaris_conf:
    ssh:
      port: 36000
      user: "mysql"
      pass: "mysql-user-pass"
      dest: "agent"
      timeout: 10
