.t-table {
  --td-bg-color-secondarycontainer: #f0f1f5;
  --td-bg-color-secondarycontainer-hover: #eaebf0;

  z-index: 0;

  &.t-table--column-resizable:not(.t-table--bordered) {
    thead.t-table__header {
      th {
        border-top: none;
        border-right: none !important;

        &:hover {
          border-color: var(--td-component-border) !important;
        }
      }
    }
  }

  th,
  td {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }

  .t-table__header {
    th {
      border-bottom: 1px solid var(--td-component-border);

      &:hover {
        background-color: var(--td-bg-color-secondarycontainer-hover);
      }
    }
  }

  .t-table__body {
    tr:hover {
      td {
        background: #f5f7fa;
      }
    }
  }

  .column-settings-icon {
    min-width: 40px;
    min-height: 40px;
  }
}

.t-table__filter-pop {
  .t-table__filter-pop-content {
    .t-table__filter-pop-content-inner {
      padding: 0;

      & > .t-input__wrap {
        width: 280px;
        padding: 8px 12px;
      }
    }

    .t-table__filter-pop-search {
      padding: 8px 12px 0;
    }

    .t-table__filter-pop-wrapper {
      max-height: 350px;
      padding: 0;
      margin: 8px 0;
    }

    .t-table__filter-pop-item {
      padding: 0 16px;

      &:hover {
        color: #3a84ff;
        background-color: #eaf3ff;
      }
    }
  }

  .t-input {
    box-shadow: none !important;
  }

  .t-table-filter-empty {
    padding: 8px 16px;
    margin-top: -30px;
    color: #63656e;
    text-align: center;
  }

  .t-popup__arrow {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

.t-table__filter--bottom-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 8px 12px;
  align-items: center;
  border-top: 1px solid #dcdee5;
}

.t-table__cell--sort-trigger {
  margin-right: 4px;
}
