
name: Check Hard Code IP

on: [workflow_dispatch, push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Check hard code ip
      run: |
        RESULT=$(grep -nrE '\b([0-9]{1,3}\.){3}[0-9]{1,3}\b' *  | grep -vE '\b[012345678]\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}'  | grep -vE '127\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}') || true
        if [[ ${RESULT} == '' ]]; then
          echo "good job!"
        else
          echo "Hard code ip founded! Please remove it."
          echo ${RESULT}
          exit 1
        fi